# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/

# Miscellaneous
*.log
*.pot
*.pyc
*.pyo